*~
*.vrb
*.aux
*.log
*.nav
*.out
*.snm
*.toc
_minted*
svg-inkscape*
*-svg.pdf
.Rhistory
.snakemake
.DS_Store
#*
.#*
module3/ressources/.ipynb_checkpoints
A_Traduire
.ipynb_checkpoints

/module5/slides/img/archi_*_[1-9].pdf
/module5/slides/img/archi_*_[1-9].svg
/module5/slides/img/archi_VM.pdf
/module1/slides/diapos_git-*.png
/module1/slides/diapos_git-*.pdf
